.container-xs-12
  .row
    .col-xs-11.text-left
      %h3.text-left Personnel
    .col-xs-11.text-left 
      
      <p></p>
      - @people.each do |person| 
        .col-xs-6.pull-left
          <a data-toggle = "collapse",  data-target="#detail#{person.id}", href = "#detail#{person.id}">#{person.full_name}</a>
        .collapse.col-xs-6.pull-left{:id => "detail#{person.id}"}
          - person.categories.each do |category| 
            %br
            = category.name.to_s unless category.name.blank? 
        %span.col-xs-offset-5.pull-left
          = link_to "Show detail", person_path(person), class: 'btn btn-info btn-xs'
          = link_to "Update", edit_person_path(person), class: 'btn btn-primary btn-xs'
          = link_to "Delete", person_path(person), :data => { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger btn-xs'           
    .col-xs-11.text-left
      = will_paginate @people, :class => 'clearfix pagination' 
      %p
      = link_to "Download PDF", people_path(format: "pdf"), class: 'btn btn-default btn-xs pull-left'       
%br
.panel-xs-4.panel-collapse.collapse.in#tag_cloud
  .panel-body
    - tag_cloud @tags, %w[s m l] do |tag, css_class|
      = link_to tag.name, tag_path(tag.name), class: css_class
%button.btn.btn-default.btn-xs{type: :button, 'data-toggle' => :collapse, 'data-target' => "#tag_cloud"}
  Show/Hide Tags        
