.container-xs-12
  .row
    .col-xs-11.text-left
      %h3.text-left Personnel
    .col-xs-11.text-left 
      .col-xs-6.col-md-6.pull-left
        %form.navbar-form{ role: :search}
          .input-group
            %input#search.form-control{ type: :text, placeholder: "Search", name: :search, action: "#{people_path}", method: :get}
              .input-group-btn
                %button.btn.btn-default.glyphicon.glyphicon-search{type: :submit}
      .col-xs-11.text-left          
      <p></p>
      - @people.each do |person| 
        .col-xs-6.pull-left
          <a data-toggle = "collapse",  data-target="#detail#{person.id}">#{person.full_name}</a>
        .collapse.col-xs-6.pull-left{:id => "detail#{person.id}"}
          - person.categories.each do |category| 
            %br
            = category.name.to_s unless category.name.blank? 
        %span.col-xs-offset-5.pull-left
          = link_to "Show detail", person_path(person), class: 'btn btn-info btn-xs'
          = link_to "Update", edit_person_path(person), class: 'btn btn-primary btn-xs'
          = link_to "Delete", person_path(person), :data => { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger btn-xs'           
    .col-xs-11.text-left
      = will_paginate @people, :class => 'clearfix pagination' 
