<div class = 'container-md-12'>
  <div class = 'row'>
    <div class = 'col-md-11 text-left'>
      <h3 class = 'text-left'> Personnel </h3> 
      <%  @people.each do |person| %> 
        <%= link_to person.name, person %>
        <span class = 'col-md-offset-3'>
          <%= link_to "Show detail", person_path(person), class: 'btn btn-info btn-xs' %>
          <%= link_to "Update", edit_person_path(person), class: 'btn btn-primary btn-xs' %>
          <%= link_to "Delete", person_path(person), :data => { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger btn-xs' %>
        </span>
        <ul>
          <% person.categories.each do |category| %> 
          <li>               
            <%= category.name.to_s unless category.name.blank? %>
          </li>  
          <% end %>  
        </ul>    
      <% end %>
    </div>
  </div>
</div>