%h3 Volunteer
%p
  Name: 
  = @person.full_name 
%p
  Email: 
  = @person.email 
%p
  Address: 
  = @person.address 
%p
  City:
  = @person.city 
%p
  State:
  = @person.state
%p
  Zip:
  = @person.zip 
%p
  Telephone:
  = @person.tel 
%p
  Birthday:
  = @person.birthday_text 
%p
  Anniversary:
  = @person.anniversary_text 
%p
  Notes:
  = @person.notes if @person.notes
%p
  Skills:
  = raw @person.skill_list.map { |skill| link_to skill, tag_path(skill)}.join(', ')
%p
  Interests:
  - @person.interest_list.each do |interest|
    = link_to interest, people_path(interest)
%p
  Categories:
  - @person.categories.each do |category|
    %ul
      = category.name
  = link_to "Edit record", edit_person_path(@person), class: 'button-xs'
  = link_to "Delete record", person_path(@person), :data => { confirm: "Are you sure?" }, method: :delete, class: 'button-xs'
  = link_to "Show all", people_path(), class: 'button-xs'

