// add navigation links to this file %>
- if user_signed_in?
  %li 
    = link_to 'Edit account', edit_user_registration_path 
  %li
    = link_to 'Sign out', destroy_user_session_path, :method=>'delete' 
- else 
  %li
    = link_to 'Sign in', new_user_session_path 
  %li
    = link_to 'Sign up', new_user_registration_path 
- if user_signed_in? 
  - if current_user.admin?
    %li   
      .dropdown.actions
        %button#dropdownMenu1.btn.btn-default.dropdown-toggle{:type => "button", "data-toggle" => "dropdown"}Actions<span class="caret"></span>
        %ul.dropdown-menu{:role => "menu", "aria-labelledby" => "dropdownMenu1"}
          %li{role: "presentation"} <a role="menuitem" tabindex="-1" href="#{people_path}">List Personnel</a>
          %li{role: "presentation"} <a role="menuitem" tabindex="-1" href="#{new_person_path}">Add Personnel</a>
          %li.divider{role: "presentation"}
          %li{role: "presentation"} <a role="menuitem" tabindex="-1" href="#{categories_path}">List Categories</a>
          %li{role: "presentation"} <a role="menuitem" tabindex="-1" href="#{new_category_path}">Add Category</a>
